
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,300&display=swap');
body { 
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 300;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-menu,
.header-logo {
    display: flex;
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;

}

.under-header {
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
}

.under-header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    width: 400px;

}

.under-header-title-content {
    font-size: 18px;
    color: #e5e7eb;
    word-wrap: normal;
    width: 600px;
    font-weight: 300;
}

.under-header-image-logo {

    width: 700px;
    height: 300px;
}

.under-header-button {
    width: 100px;
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    font-weight: 500;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.info-content-title {
    align-items: center;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-content-container {
    display: flex;
    flex-direction: row;
}

.info-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
    padding: 25px;
    gap: 8px;
}

.info-content-img {
    width: 250px;
    height: 166px;
    border: 3px #3882f6 solid;
    border-radius: 15px;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    padding: 120px 350px;
    flex-direction: column;
    align-items: center;


}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 800px;
}

.quote-text-credit {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    justify-content: right; 
}

.cta-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.cta-content-container {
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.cta-content-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 140px;
    color: #e5e7eb;
}

.cta-text-title {
    font-size: 18px;
    font-weight: bold;
}

.cta-text-content {
    font-weight: 300;
    color: #e5e7eb;

}

.cta-button {
    margin-right: 140px;
    color: #e5e7eb;
    border: 1px #e5e7eb solid;
    padding: 5px 25px;
    border-radius: 7px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
